*{
    margin: 0;
    box-sizing: border-box;
}
body{ 
    background-color: rgb(106, 175, 94);
    font-family: Calibri;
    font-size: 20px;
    color: black;
}

.topo {
    background-color: #010202;
    font-size: 14px;
    display: block;
    

}


.topo a {
    color: rgb(183, 16, 16);
    text-decoration: none;
    font-size: 16px;}



.titulo {
    text-align: center;
   color: rgb(209, 212, 3);
 padding-bottom: 20px;
font-size: 25px;


}
.texto {
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
    color: gold;

}
main {
    padding: 30px;
}

.menu {
    display: flex;
    margin-left: auto;
    list-style: none;
    text-align: right;

}
.menu li {
    text-align: right;
    margin-left: 20px;

}

.materia{
    width: 320px;
    background-color: rgb(49, 94, 94);
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.materia img{
    width: 100%;
    margin-bottom: 20PX;
   
}
.caneca{
    width: 320px;
    background-color: rgb(49, 94, 94);
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}
.caneca img{
    width: 100%;
    margin-bottom: 20PX;
    padding-top: 103px;
    
}

.titulo2 {

    color: gold;
    margin-top: 30px;
}
.pochete{
    width: 320px;
    background-color: rgb(49, 94, 94);
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.pochete img{
    width: 100%;
    margin-bottom: 20PX

}

.destaque{
    font-size: 30px;
    text-align: center;
    color: crimson;
}
.navegacao {
    display: flex;
    list-style: none;

}
.grade{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    gap: 20px;
    
    padding: 20px;
    padding-left: 100px;
    
    

}
.destaque{
    margin-bottom: 30px;
    text-decoration: underline;

}
.rodape {
    background-color: chocolate;
    color: aliceblue;
    padding: 30px;
    text-align: center;
    
   }
  
   .campo {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border:none;
    background-color: rgb(21, 141, 101);
}
.campo:focus {
    background-color: aliceblue;
    outline: none;
}
.rotulo {
    display: block;
    margin-bottom: 20px;
}
textarea.campo {
    height: 150px;
    padding: 10px;
    font-family: Calibri;

}
.contato {
    background-color: aliceblue;
    padding: 30px;
   max-width: 600px; 
    margin-left: auto;
    margin-right: auto;
}

