*{
    margin: 0;
    box-sizing: border-box;
}
body{ 
    background-color: rgb(135, 177, 128);
    font-family: Calibri;
    font-size: 20px;
    color: black;
}

.topo {
    background-color: #06423a;
    padding: 30px;
    font-size: 14px;
    display: block;
    

}

.topo li{
    padding: 20px;
    color: black;
    padding-left: 3px;
}
.topo a {
    color: rgb(22, 2, 2);
    text-decoration: none;
    font-size: 16px;}
.titulo {
    text-align: center;
   color: rgb(209, 212, 3);
   margin-bottom: 10px;
font-size: 25px;


}
.texto {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;

}

.menu {
    display: flex;

}
.materia{
    width: 320px;
}
.materia img{
    width: 100%;
}

.destaque{
    font-size: 30px;
    text-align: center;
    color: crimson;
}

